﻿
<div>
    <div class="col text-success container text-sm-center">
        <h3 class="mb-40">Kaydınız Başarıyla Oluşturulmuştur</h3>
        <br />
        <br />
    </div>
    <div class="col-1 container btn-sm-center">
        <a asp-action="Index" asp-controller="Home" class=" btn btn-primary ">Home</a>
        <br />
        <br />
        <br />
    </div>
    <div class="container text-sm-center">
        <p class="mt-40">Yeni bir işlem için lütfen Home'a dönünüz.</p>
    </div>
</div>