@model List<Achievement>


<h2 class="mb-5">@Model.GetType().GenericTypeArguments </h2>

    @foreach (var item in Model.OrderBy(p => p.Id))
    {


            <a class="nav-link js-scroll-trigger">
                <div class="subheading mb-3"> 
                    @item.Description
                </div>
                <div class="flex-shrink-0">
                     @item.AcDate.Year
                <div/> 
            </a>


    }
