@model List<Achievement>


<h2 class="mb-5">@nameof(Achievement)s </h2>

    @foreach (var item in Model.OrderByDescending(p => p.Id))
    {


            <a class="nav-link js-scroll-trigger">
                 <div class="mt-4">
                     <p>
                    @item.Description
                    </p>
                 </div>
               
                <div class="flex-shrink-0">
                    <span class="text-primary">
                         @item.AcDate.Year
                    </span>
                </div> 
            </a>


    }
