
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Resume - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">

    <partial name="_Navbar" />
    <!-- Page Content-->
    <div class="container-fluid p-0">
       <partial name="About"  />
        <hr class="m-0" />
        <!-- Education-->
        <partial name="Education" />
        <hr class="m-0" />
        <!-- Experiance-->
        <partial name="Experience" />
        <hr class="m-0" />
        <!-- Project-->
        <partial name="Project" />
        <hr class="m-0" />
        <!-- Skills-->
        <partial name="Skill" />
        <hr class="m-0" />
        <!-- Language-->
        <partial name="Language" />
        <hr class="m-0" />
        <!-- Achievement-->
        <partial name="Achievement" />
        <hr class="m-0" />
        <!-- Activitie-->
        <partial name="Activitie" />
        <hr class="m-0" /> 
        
    </div>
   
    <hr class="m-0" />
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    
</body>
</html>
