@model List<Project>


<h2 class="mb-5">@nameof(Project)s </h2>

@foreach (var item in Model.OrderByDescending(p => p.Id))
{



    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">@item.Title</h3>
            
            <p>@item.Description</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">@item.Date.Year </span></div>
    </div>




}